In [1]:
color = ["red", "Green", "blue"]
color

['red', 'Green', 'blue']

In [2]:
empty = list()
empty #부동소수점, 정수, 문자열 다 포함 가능

[]

In [3]:
box = ["char", 5, 0.055]
box

['char', 5, 0.055]

In [4]:
type(box)

list

In [6]:
a = [1,2,3]
b = ["one", "two", "three"]
number = [a,b]
number

[[1, 2, 3], ['one', 'two', 'three']]

In [7]:
number = [1,2,3,4]
a,b,c,d = number
print(a,b,c,d)

1 2 3 4

In [8]:
name = ['Tom', 'Poter', 'Kate']
score = [55, 66, 77]
grade = ['C', 'B', 'A']
score_card = [name, score, grade]
score_card

[['Tom', 'Poter', 'Kate'], [55, 66, 77], ['C', 'B', 'A']]

In [11]:
print(score_card[0])

['Tom', 'Poter', 'Kate']

In [12]:
print(score_card[0][1],"'s grade is", score_card[2][1])

Poter 's grade is B

In [13]:
t1 = ()
type(t1)

tuple

In [14]:
t2 = (1,2,3)
t2

(1, 2, 3)

In [16]:
t3 = ('a', 'b',('ab', 'cd'))
t3

('a', 'b', ('ab', 'cd'))

In [18]:
tx = (1)
ty = (1,)
type(tx)

int

In [19]:
type(ty)

tuple

In [21]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [22]:
s2 = set("Hello World")
s2

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [23]:
s1 = {1,2,3}
s2 = {1,2}
s3 = {("a", "b", "c")}
not_set = ("a", "b", "c")

In [28]:
s1 & s2

{1, 2}

In [29]:
s1 | s2

{1, 2, 3}

In [30]:
s3 - s1

{('a', 'b', 'c')}

In [32]:
s1.add(4)

In [33]:
s1

{1, 2, 3, 4}

In [34]:
s1.update([2,5,6,8,9])

In [35]:
s1

{1, 2, 3, 4, 5, 6, 8, 9}

In [40]:
d1 = {'name': 'Audrey', 'birth': '1990-09-14', 'hobby': 'cycling'}
d1

{'name': 'Audrey', 'birth': '1990-09-14', 'hobby': 'cycling'}

In [41]:
d1.items()

dict_items([('name', 'Audrey'), ('birth', '1990-09-14'), ('hobby', 'cycling')])

In [42]:
d1.keys()

dict_keys(['name', 'birth', 'hobby'])

In [43]:
d1.values()

dict_values(['Audrey', '1990-09-14', 'cycling'])

In [37]:
d1 = {}
type(d1)

dict

In [38]:
d2 = {1,2,1,2}
type(d2)

set

In [39]:
d3 = {'name': 'Audrey'}
type(d3)

dict

In [48]:
print("Q.내 나이가 몇 살일까요?")
number = int(input())
if number == 25:
    print("정답입니다.")
else:
    print("오답입니다.")

Q.내 나이가 몇 살일까요?
25
정답입니다.

In [55]:
print("Q. 내 나이가 몇 살 일까요?")
number = int(input())
if number == 29:
    print("정답입니다.")
elif number > 26 and number < 29:
    print("정답에 가까워요! 하지만 오답이네요 ㅜㅜ")
elif number > 29 and number < 32:
    print("정답에 가까워요!, 전 좀더 어리답니다.")
else:
    print("오답입니다.")

Q. 내 나이가 몇 살 일까요?
30
정답에 가까워요!, 전 좀더 어리답니다.

In [56]:
for i in ["a", "b", "c"]:
    print(i)

a
b
c