In [1]:
print("Hello Python")

Hello Python

In [2]:
(True, False)

(True, False)

In [3]:
test = (3 > 4)

In [4]:
test

False

In [5]:
type(test)

bool

In [6]:
a = 4
type(a)

int

In [7]:
c = 2.1
type(c)

float

In [8]:
a = 1.5 + 0.5j

In [9]:
a

(1.5+0.5j)

In [10]:
a.real

1.5

In [11]:
a.imag

0.5

In [12]:
float(1)

1.0

In [13]:
7*3.

21.0

In [17]:
3/2

1.5

In [18]:
3//2

1

In [19]:
2**10

1024

In [21]:
8%3 #몫

2

In [22]:
a = 1
a += 1
a

2

In [23]:
a = 1
a -= 1
a

0

In [24]:
a = 10
a *= 2
a

20

In [25]:
a = 10
a /= 2
a

5.0

In [26]:
2 > 1, 2 >= 1, 2 == 1

(True, True, False)

In [35]:
#리스트 자료
l = ['red', 'blue', 'green', 'black', 'white']

In [36]:
l

['red', 'blue', 'green', 'black', 'white']

In [37]:
type(l)

list

In [38]:
l[0]

'red'

In [39]:
l[-1]

'white'

In [41]:
l[1:4]

['blue', 'green', 'black']

In [43]:
l[2:] #앞쪽 것 부터 포함

['green', 'black', 'white']

In [44]:
l[:2] #뒤쪽 것 전까지

['red', 'blue']

In [45]:
l[::2] #2칸씩 jump

['red', 'green', 'white']

## l[start: stop: step]
## start<= <stop

In [46]:
l

['red', 'blue', 'green', 'black', 'white']

In [47]:
l[0] = 'yellow'
l

['yellow', 'blue', 'green', 'black', 'white']

In [48]:
l[2:4] = ['grey', 'purple']
l #리스트 교체

['yellow', 'blue', 'grey', 'purple', 'white']

In [49]:
l = [3.14, -200, 'hello']

In [50]:
l[1]

-200

In [51]:
l[2]

'hello'

In [52]:
l

[3.14, -200, 'hello']

In [53]:
l = ['red', 'blue', 'green', 'black', 'white']

In [56]:
l.append('pink')

In [57]:
l

['red', 'blue', 'green', 'black', 'white', 'pink']

In [59]:
l.pop() #remove and returns the last item

'white'

In [60]:
l

['red', 'blue', 'green', 'black']

In [61]:
l.append('white')
l

['red', 'blue', 'green', 'black', 'white']

In [62]:
l.extend(['pink','purple'])

In [63]:
l

['red', 'blue', 'green', 'black', 'white', 'pink', 'purple']

In [64]:
l = l[:-2] #slicing 뒤에서 2개
l

['red', 'blue', 'green', 'black', 'white']

In [65]:
#Reverse
r = l[::-1]

In [66]:
r

['white', 'black', 'green', 'blue', 'red']

In [67]:
r.reverse()

In [68]:
r

['red', 'blue', 'green', 'black', 'white']

In [69]:
r2 = list(l)

In [70]:
r2

['red', 'blue', 'green', 'black', 'white']

In [73]:
r2.reverse()
r2

['white', 'black', 'green', 'blue', 'red']

In [74]:
r2

['white', 'black', 'green', 'blue', 'red']

In [75]:
r + l

['red',
 'blue',
 'green',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'black',
 'white']

In [76]:
r * 2

['red',
 'blue',
 'green',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'black',
 'white']

In [77]:
r

['red', 'blue', 'green', 'black', 'white']

In [78]:
sorted(r)

['black', 'blue', 'green', 'red', 'white']

In [79]:
a = [1,5,3,8,2]
a

[1, 5, 3, 8, 2]

In [80]:
sorted(a)

[1, 2, 3, 5, 8]

In [81]:
a.sort()

In [82]:
a

[1, 2, 3, 5, 8]

In [84]:
dir(r)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [85]:
s = "Hello, how are you?"
s

'Hello, how are you?'

In [86]:
s = '''Hello,
        how are you?'''
s

'Hello,\n        how are you?'

In [87]:
s = """Hi,
what's up?"""
s

"Hi,\nwhat's up?"

In [88]:
a = "hello"

In [89]:
a[0]

'h'

In [90]:
a[-1]

'o'

In [91]:
a = "Hello, world!"

In [92]:
a[3:6]

'lo,'

In [93]:
a[2:10:2]

'lo o'

In [95]:
a[::3]

'Hl r!'

In [96]:
[1,3,5,7]

[1, 3, 5, 7]

In [97]:
b = []

In [98]:
b.append(5)

In [99]:
b

[5]

In [100]:
b.append(1.4)

In [101]:
b

[5, 1.4]

In [102]:
[1,3,5] + [2,7]

[1, 3, 5, 2, 7]

In [103]:
list("가나다")

['가', '나', '다']

In [106]:
['가',
'나',
'다',
'라']

['가', '나', '다', '라']

In [107]:
#list indexing
s = 'show how to index into sequences'.split()

In [108]:
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [109]:
s[-1]

'sequences'

In [110]:
#list slicing
s[1:4]

['how', 'to', 'index']

In [113]:
s[1:-2]

['how', 'to', 'index']

In [114]:
s[-1]

'sequences'

In [115]:
s[-2]

'into'

In [116]:
s[:3]

['show', 'how', 'to']

In [117]:
s[0:]

['show', 'how', 'to', 'index', 'into', 'sequences']

In [120]:
s[:3] + s[3:] == s

True

In [119]:
s[3:]

['index', 'into', 'sequences']

In [121]:
full_slice = s[:]

In [122]:
full_slice

['show', 'how', 'to', 'index', 'into', 'sequences']

In [123]:
full_slice == s #값은 같지만

True

In [124]:
full_slice is s #같은 변수는 x

False

In [125]:
u = s.copy()
v = list(s)
u

['show', 'how', 'to', 'index', 'into', 'sequences']

In [126]:
v

['show', 'how', 'to', 'index', 'into', 'sequences']

In [127]:
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [129]:
s[::3]

['show', 'index']

In [130]:
s[::-1]

['sequences', 'into', 'index', 'to', 'how', 'show']

In [131]:
a = [5,3]
b = a*3
a

[5, 3]

In [132]:
b

[5, 3, 5, 3, 5, 3]

In [133]:
a = ['서울', '인천', '대전', '제주도']
a.index('인천')

1

In [135]:
a.index('부산') #리스트 안에서 해당 item의 index 번호 리턴

ValueError: '부산' is not in list

In [136]:
a = [1,2,3,4,7,0,1,2]
a.count(5)

0

In [137]:
a.count(7)

1

In [138]:
a = [1,4,2,3]
a.insert(1,8)

In [139]:
a

[1, 8, 4, 2, 3]

In [140]:
a.insert(3,9)
a

[1, 8, 4, 9, 2, 3]

In [142]:
a = [1,4,6]
a.extend([7,5,6])
a

[1, 4, 6, 7, 5, 6]

## Dictionary

In [143]:
tel = {'emmanuelle' : 5752, 'sebastian' : 5578}
tel

{'emmanuelle': 5752, 'sebastian': 5578}

In [144]:
tel['sebastian']

5578

In [146]:
tel['francis'] = 5832
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5832}

In [147]:
tel.keys()

dict_keys(['emmanuelle', 'sebastian', 'francis'])

In [148]:
tel.values()

dict_values([5752, 5578, 5832])

In [149]:
'francis' in tel
#Key 와 Value 로 구분

True

## Tuple

In [150]:
u = (0, 2)
u

(0, 2)

In [151]:
t = 12345, 54321,'hello!'
t

(12345, 54321, 'hello!')

In [152]:
t[0]

12345

In [154]:
a = [1,2,3]
b = a

In [155]:
a

[1, 2, 3]

In [156]:
b

[1, 2, 3]

In [157]:
id(a),id(b)

(2447388956808, 2447388956808)

In [158]:
a[0] = 11
a

[11, 2, 3]

In [159]:
b

[11, 2, 3]

In [160]:
b[1] = 'hi!'
b

[11, 'hi!', 3]

In [161]:
a

[11, 'hi!', 3]

In [162]:
a = [1, 'hi!', 3]

In [163]:
b = 1

In [164]:
a

[1, 'hi!', 3]

In [165]:
b

1

## Zip

In [168]:
a = [1,2,3]
b = [10,20,30]

In [169]:
c = zip(a, b)
c

In [170]:
d = dict(c)
d

{1: 10, 2: 20, 3: 30}

In [171]:
zip(*c)

In [172]:
zip(*zip(*c))

In [173]:
c

In [174]:
a = [1,2,3,
     4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [177]:
a = 1 + 3 + 4 +\
    5 + 6 + 7
a
#백슬래쉬로 가능

26

In [178]:
if 2**2 == 4:
    print('obvious!')

obvious!

In [180]:
a = 10
if a == 1:
    print(1)
elif a == 2:
    print(2)
else:
    print('A lot!')

A lot!

## for/range

In [181]:
range(10)

range(0, 10)

In [182]:
for i in range(4):
    print(i)

0
1
2
3

In [183]:
i

3

In [184]:
type(i)

int

In [186]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [187]:
x

9

In [189]:
range(5, 10)  # 5:10

range(5, 10)

In [190]:
x = ["a", "b", "c", "d", "e"]
for i in range(1,4):
    print(x[i])

b
c
d

In [191]:
for word in ['cool', 'powerful', 'readable']:
    print('Python is %s' % word)

Python is cool
Python is powerful
Python is readable

In [192]:
for xi in x[1:4]:
    print(xi)

b
c
d

## while/break/continue

In [193]:
z = 1 + 1j
while abs(z) < 100:
    z = z**2 + 1
    print(z, abs(z))
z

(1+2j) 2.23606797749979
(-2+4j) 4.47213595499958
(-11-16j) 19.4164878389476
(-134+352j) 376.64306710730784

(-134+352j)