# datetime 패키지

In [11]:
import datetime

In [2]:
dt = datetime.datetime.now()
dt

datetime.datetime(2019, 7, 23, 16, 22, 20, 838481)

In [4]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond

(2019, 7, 23, 16, 22, 20, 838481)

In [8]:
dt.weekday() #0:월 ~ 6:일

1

### key = strftime()

In [10]:
dt.strftime("%A %d. %B %Y") #요일 / 일 / 월 / 연도

'Tuesday 23. July 2019'

##### %Y	앞의 빈자리를 0으로 채우는 4자리 연도 숫자
##### %m	앞의 빈자리를 0으로 채우는 2자리 월 숫자
##### %d	앞의 빈자리를 0으로 채우는 2자리 일 숫자
##### %H	앞의 빈자리를 0으로 채우는 24시간 형식 2자리 시간 숫자
##### %M	앞의 빈자리를 0으로 채우는 2자리 분 숫자
##### %S	앞의 빈자리를 0으로 채우는 2자리 초 숫자
##### %A	영어로 된 요일 문자열
##### %B	영어로 된 월 문자열

# dateutil 패키지

In [12]:
from dateutil.parser import parse

In [13]:
parse('2019-07-23')

datetime.datetime(2019, 7, 23, 0, 0)

In [15]:
parse('23 July, 2019 04:05:32 PM')

datetime.datetime(2019, 7, 23, 16, 5, 32)

In [17]:
parse('7/23/2019')

datetime.datetime(2019, 7, 23, 0, 0)

## timedelta 클래스와 날짜/시간 연산

In [19]:
dt1 = datetime.datetime(2019, 7, 23, 14)
dt2 = datetime.datetime(2019, 6, 23, 13)
td = dt1 - dt2
td
#간격을 구할때

datetime.timedelta(30, 3600)

In [22]:
td.days, td.seconds, td.microseconds #일 / 초 / 마이크로초

(30, 3600, 0)

In [21]:
td.total_seconds() #모든 속성을 초단위로

2595600.0

In [23]:
t0 = datetime.datetime(2018, 9, 1, 13)
d = datetime.timedelta(days = 90, seconds = 3600)

In [24]:
td + d

datetime.timedelta(120, 7200)