In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.read_excel('09.2 KOSPI200 F 201712.xlsx', 'Sheet1', index_col = '일자')

In [8]:
df.head()

              선물가격      지수
일자
2017/09/01  308.40  307.78
2017/09/04  305.60  304.19
2017/09/05  304.85  304.06
2017/09/06  304.30  303.18
2017/09/07  308.10  306.97

In [9]:
type(df.index) #문자열

pandas.core.indexes.base.Index

In [11]:
df.index = pd.to_datetime(df.index)

In [13]:
type(df.index) #날짜형식

pandas.core.indexes.datetimes.DatetimeIndex

In [14]:
def future_price (S, r, d, T, t0):     #기초자산, 이자율, 배당률, 최종거래일, 기준일
    t = np.busday_count(t0, T) / 252
    F = S * np.exp((r-d)*t)
    return F

In [18]:
T = pd.to_datetime('2017-12-14') # 최종거래일
r = 0.0225
d = 0.015
for n in (df.index):
    t0 = n
    S = df.loc[n, '지수']
    F = future_price(S, r, d, T, t0)
    f = '{:,.2f}'.format(F)     #소숫점 아래 두자리까지, 천단위로 쉼표 추가
    df.loc[n, '이론가1'] = f

In [19]:
def S_future_price(S, r, d, T, t0):
    t = (T-t0).days / 365
    F = S * (1 + (r-d) * t)
    return F

In [20]:
T = pd.to_datetime('2017-12-14')
r = 0.0225
d = 0.015
for n in (df.index):
    t0 = n
    S = df.loc[n, '지수']
    F = S_future_price(S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가2'] = f

In [23]:
df.head() #연속이자율, 단순이자율

              선물가격      지수    이론가1    이론가2
일자
2017-09-01  308.40  307.78  308.46  308.44
2017-09-04  305.60  304.19  304.85  304.82
2017-09-05  304.85  304.06  304.71  304.68
2017-09-06  304.30  303.18  303.82  303.80
2017-09-07  308.10  306.97  307.61  307.59