In [7]:
# integer와 string 더하기===============================================
def add_string_number(string, float_number):
    # """
    # Input:
    # 	-string: 문자열
    # 	-float_number: 실수 값
    # Output:
    # 	-문자열과 실수 값이 연결된 문자열 값
    # Examples:
    # 	>>> add_string_number("Gachon", 3)
    # 	"Gachon3"
    # 	>>> add_string_number("jiho",14)
    # 	"jiho14"
    # """
    # ===Modify codes below=================

    result = string + str(float_number)

    # ======================================
    return result

In [11]:
a = 3
a

3

In [15]:
a = 'abc'
b = 3.5

TypeError: must be str, not float

In [16]:
a + str(b)

'abc3.5'

In [14]:
b = print(3)
b

3

In [8]:
def add_string_number(string, 3)

SyntaxError: invalid syntax (<ipython-input-8-fdd22affd6d7>, line 1)

In [26]:
# string과 string 더하기================================================
def add_string_string(str_1 :str, str_2 :str):
    # """
    # Input:
    #   -str_1: 문자열
    #   -str_2: 문자열
    # Output:
    # 	-str: 두 문자열의 연결된 문자열 값
    # Examples:
    # 	>>> add_string_string("3", "흐흐흐")
    # 	"3흐흐흐"
    # 	>>> add_string_string("135", "45.76")
    # 	"13545.76"
    # """
    # ===Modify codes below=================

    result = str(str_1)+str(str_2)

    # ======================================
    return result

In [18]:
a="aaa"
b="bbb"
a+b

'aaabbb'

In [25]:
add_string_string("aaa","bbb")

'aaabbb'

In [32]:
# 사칙연산==============================================================
def associative_law_add(a, b, c):

    # """
    # <설명>
    # 아래의 연산에 결합법칙을 적용해 계산하여라.
    # (a + b) + c
    #
    # Input:
    # 	-a, b, c: 실수 값
    # Output:
    # 	-결합법칙이 적용되어 계산된 실수 값
    # Examples:
    # 	>>> commutative_law(3, 4, 5)
    # 	12
    # """
    # ===Modify codes below=================

    result = (a+b)+c

    # ======================================

    return result

In [35]:
a=3.1
b=3.2
c=3.3
(a+b)+c

9.600000000000001

In [53]:
associative_law_add(1.2, 1.5, 3.2)

5.9

In [64]:
def associative_law_mutiple(a, b, c):

    # """
    # <설명>
    #   아래의 연산에 결합법칙을 적용해 계산하여라.
    #   (a * b) * c
    # Input:
    # 	-a, b, c: 실수 값
    # Output:
    # 	-결합법칙이 적용되어 계산된 실수 값
    # Examples:
    # 	>>> associative_law_mutiple(3, 4, 5)
    # 	60
    # """
    # ===Modify codes below=================

    result = (a*b)*c

    # ======================================

    return result

In [65]:
a=3
b=4
c=8
(a*b)*c

96

In [66]:
associative_law_multiple(1.1, 5.8, 2.5)

NameError: name 'associative_law_multiple' is not defined

In [54]:
associative_law_add(4,2,1)

7

In [56]:
associative_law_multiple(1.2, 2.5, 5.7)

NameError: name 'associative_law_multiple' is not defined

In [57]:
def distributive_law(a, b, c):

    # """
    # <설명>
    #   아래의 연산에 분배법칙을 적용해 계산하여라.
    #   a * (b + c)
    # Input:
    # 	-a, b, c: 실수 값
    # Output:
    # 	-분배법칙이 적용되어 계산된 실수 값
    # Examples:
    # 	>>> distributive_law(3, 4, 5)
    # 	27
    # """
    # ===Modify codes below=================
    result = a*(b+c)
    # ======================================

    return result

In [58]:
distributive_law(2,6,5)

22

In [62]:
def exponent(base, power):

    # """
    # <설명>
    #   다음의 곱셈연산을 지수연산으로 바꿔 계산하여라.
    #   base * base * base * ... * base
    # Input:
    # 	-base, power: 실수 값
    # Output:
    # 	-지수연산이 적용되어 계산된 값
    # Examples:
    # 	>>> exponent(3, 4)
    # 	81
    # """
    # ===Modify codes below=================
    result = base**power
    # ======================================

    return result

In [63]:
exponent(4,6)

4096

In [71]:
def associative_law_multiple(a, b, c):

    # """
    # <설명>
    #   아래의 연산에 결합법칙을 적용해 계산하여라.
    #   (a * b) * c
    # Input:
    # 	-a, b, c: 실수 값
    # Output:
    # 	-결합법칙이 적용되어 계산된 실수 값
    # Examples:
    # 	>>> associative_law_mutiple(3, 4, 5)
    # 	60
    # """
    # ===Modify codes below=================

    result = (a*b)*c

    # ======================================

    return result

In [72]:
associative_law_multiple(3.2, 5.6, 2.1)

37.632

In [73]:
print("hello world","hello again")

hello world hello again

In [74]:
temperature=float(input("온도를 입력하세요:"))
print(temperature)
print(type(temperature))

온도를 입력하세요:32.3
32.3
<class 'float'>

In [75]:
print("본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다")
print("변환하고 싶은 섭씨 온도를 입력")

user_input = input()
celcius = float(user_input)
fah = ((9/5)*celcius)+32

print("섭씨온도:",celcius)
print("섭씨온도:",fah)

본 프로그램은 섭씨를 화씨로 변환해주는 프로그램입니다
변환하고 싶은 섭씨 온도를 입력
32
섭씨온도: 32.0
섭씨온도: 89.6

In [78]:
print("화씨 전환 프로그램")
print("온도를 입력하세요")

user_input=input()
celcius=float(user_input)
fah=((9/5)*celcius)+32

print("섭씨온도",celcius)
print("화씨온도",fah)

화씨 전환 프로그램
온도를 입력하세요
32
섭씨온도 32.0
화씨온도 89.6

In [87]:
print(1,2,3)
print("a"+""+"c")
print("{} {} {}")

1 2 3
ac
{} {} {}

In [92]:
#percentage formating
print('%s %s' % ('one', 'two')) #str
print('%s %s' % (1,2))       #integer

#str formating
print('{} {}'.format('one','two'))
print('{} {}'.format(1,2))

one two
1 2
one two
1 2

In [100]:
#Percentage Formating
print("I eat %d apples." % 3)          #%demical type
print("I eat %s apples" % "five")      #%string type
                                       #%float type
print("I eat %d apples. I was sick for %s days" % (3, "five"))
print("Product: %s,      Price per unit: %f" % ("Apple", 5.423))

I eat 3 apples.
I eat five apples
I eat 3 apples. I was sick for five days
Product: Apple,      Price per unit: 5.423000

In [114]:
#Floating+Padding

print("Art:  %5d,  Price per Unit:  %8.2f " % (453,59.058))
#자릿수 5 확보해라 + float=소수점 둘째자리까지

Art:    453,  Price per Unit:     59.06

age = 25
name = 'Jinho Bae'

print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name,age))

print("Product: {0}, Price per unit: {1:.2f}".format("Apple",5.265))

In [146]:
#Padding

print("Product: %5s, Price per unit: %.10f" % ("Apple",5.243))
print("Product: {0:5s}, Price per unit: {1:.9f}".format("Apple",5.243))
print("Product: %10s, Price per unit: %10.3f" % ("Apple",5.243)) #우측정렬
print("Product: {0:10s}, Price per unit: {1:10.3f}".format("Apple",5.243))
print("Product: {0:>10s}, Price per unit: {1:10.3f}".format("Apple",5.243))

Product: Apple, Price per unit: 5.2430000000
Product: Apple, Price per unit: 5.243000000
Product:      Apple, Price per unit:      5.243
Product: Apple     , Price per unit:      5.243
Product:      Apple, Price per unit:      5.243